.page {
    max-width: 900px; /* Ширина элемента в пикселах */
    padding: 10px; /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру */
}

.iconGroup {
    display: flex;
    margin-top:50px;
}
.icon {
    right:20px;
    top:12px;
    width: 350px;
    height: 200px;
    /*background-color: red;*/
    margin: 10px;

}
.icon>div {
    width: 100%;
    height: 180px;
    /*background-color: green;*/

}

.process {
    /*background-color: blue;*/
    width: 100%;
    height: 200px;
}
/* table {
    border-spacing: 0; 
    max-width: 100%; 
    padding: 10px; 
    margin: auto;
} */

/* tr > th {
    left: 0;
    right: 5px;
    /*top: 34px;*/
    /* border-bottom: 2px solid #9ea7a9;
    padding: 15px 10px;
    font-size: 1.5em;
    text-align: center; */

/* } */

/* tr > td {
    margin: 10px;
    padding: 10px;
    border-bottom: 2px solid #9ea7a9;
} */

.descriptionPercent {
    border-right: none;
    margin: 0;
    padding: 0px;
}
.description {
    font-size: 1em;
    font-weight: normal;
}
.caption {
    /*border: none;*/
    /*margin: 10px;*/
    /*!*width: 100%;*!*/
    /*padding: 0px;*/
}
