.History {
    position:relative;
    width:100%;
    height:100px;
    margin: 31px auto;
}

.History__button{
    /*display: block;*/
    /*width: 50px;*/
    /*height: 50px;*/
    /*float: right;*/

    position:absolute;
    right:20px;
    top:7px;
}
